<script>
    var softwareVersion = $("body").attr("data-softwareVersion");
    console.log(softwareVersion)
    $('#softwareVersion').text(softwareVersion)
</script>
<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner">
        <small>
            2019 Copyleft by <a href="http://www.igcom.it" target="_blank">IG.COM Srl</a>
            Società del Gruppo GIOMI SPA. Progetto realizzato grazie al contributo della Fondazione Terzo Pilastro Internazionale
        </small>
        <!--<small>
        Version: <span id="softwareVersion"></span>
    </small>-->
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->
